<footer class="footer">
    <div class="container footer-grid">
        <div>
            <h3>StyleCart</h3>
            <p>Modern ecommerce website built with Django, templates, media upload, slider, cart and orders.</p>
        </div>
        <div>
            <h4>Quick Links</h4>
            <a href="{% url 'shop:product_list' %}">All Products</a>
            <a href="{% url 'shop:cart' %}">Cart</a>
            <a href="{% url 'shop:my_orders' %}">My Orders</a>
        </div>
        <div>
            <h4>Contact</h4>
            <p>Email:dharmenderdhariwal04@gmail.com</p>
            <p>Phone: +91 8685020308</p>
        </div>
    </div>
</footer>
